In [71]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [72]:
data = pd.read_csv("C:\Machine_learning Python\projets\AtelierRecomendation\Academic Hub - A Student Guidance Portal.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\HP\AppData\Local\Temp\ipykernel_10884\84593768.py:1: SyntaxWarning: invalid escape sequence '\M'
  data = pd.read_csv("C:\Machine_learning Python\projets\AtelierRecomendation\Academic Hub - A Student Guidance Portal.csv")

In [73]:
data.head()

,Timestamp,Major Subjects in Matric,Matric Percentage,Major in Intermediate,Intermediate Percentage,Favorite Subject,Area of Interest,Your Current Domain
0,2022/05/30 11:28:21 AM GMT+5,Biology,87.0,A Levels,75 - 99,Biology,Bio Sciences,Bio Sciences
1,2022/05/30 11:30:17 AM GMT+5,O Level,80.0,A Levels,60 - 75,Finance / Accounting / Statistics,Business Administration,Business Administration
2,2022/05/30 11:30:59 AM GMT+5,Biology,87.0,A Levels,75 - 99,Physics,Bio Sciences,Bio Sciences
3,2022/05/30 11:34:26 AM GMT+5,Computer,75.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Computer Science
4,2022/05/30 11:34:33 AM GMT+5,Computer,83.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Software Engineering

In [74]:
data = data.drop(columns = ["Timestamp"],axis=1)

In [75]:
data.head()

,Major Subjects in Matric,Matric Percentage,Major in Intermediate,Intermediate Percentage,Favorite Subject,Area of Interest,Your Current Domain
0,Biology,87.0,A Levels,75 - 99,Biology,Bio Sciences,Bio Sciences
1,O Level,80.0,A Levels,60 - 75,Finance / Accounting / Statistics,Business Administration,Business Administration
2,Biology,87.0,A Levels,75 - 99,Physics,Bio Sciences,Bio Sciences
3,Computer,75.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Computer Science
4,Computer,83.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Software Engineering

In [76]:
data.isnull().sum()

Major Subjects in Matric    0
Matric Percentage           0
Major in Intermediate       0
Intermediate Percentage     0
Favorite Subject            0
Area of Interest            0
Your Current Domain         0
dtype: int64

In [78]:
data["Major Subjects in Matric"].value_counts()

Major Subjects in Matric
Computer    532
Biology     326
O Level     104
Arts         55
Name: count, dtype: int64

In [79]:
data["Favorite Subject"].value_counts()

Favorite Subject
Finance / Accounting / Statistics    247
Computer Science                     210
Biology                              166
English                              144
Mathematics                          106
Chemistry                             82
Physics                               62
Name: count, dtype: int64

In [43]:
data["Area of Interest"].value_counts()

Area of Interest
Account and Finance        219
Computer Science           182
Bio Sciences               162
English                     91
Software Engineering        84
Psychology                  64
Mathematics                 61
Civil Engineering           44
Business Administration     43
Mechanical Engineering      38
Electrical Engineering      29
Name: count, dtype: int64

In [44]:
data["Your Current Domain"].value_counts()

Your Current Domain
Account and Finance        214
Bio Sciences               180
Computer Science           173
Software Engineering        92
English                     87
Psychology                  60
Business Administration     54
Mathematics                 49
Civil Engineering           40
Mechanical Engineering      36
Electrical Engineering      32
Name: count, dtype: int64

In [45]:
data["Major in Intermediate"].value_counts()

Major in Intermediate
I COM                  295
Fsc Pre Engineering    244
Fsc Pre Medical        216
A Levels               139
ICS                    123
Name: count, dtype: int64

In [80]:
np.random.seed(42)  
ages = np.random.randint(6, 18, size=len(data))

data['Age'] = ages

In [81]:
data.head()

,Major Subjects in Matric,Matric Percentage,Major in Intermediate,Intermediate Percentage,Favorite Subject,Area of Interest,Your Current Domain,Age
0,Biology,87.0,A Levels,75 - 99,Biology,Bio Sciences,Bio Sciences,12
1,O Level,80.0,A Levels,60 - 75,Finance / Accounting / Statistics,Business Administration,Business Administration,9
2,Biology,87.0,A Levels,75 - 99,Physics,Bio Sciences,Bio Sciences,16
3,Computer,75.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Computer Science,13
4,Computer,83.0,Fsc Pre Engineering,60 - 75,Computer Science,Software Engineering,Software Engineering,10

In [82]:
data = data.drop(columns = ["Intermediate Percentage"],axis=1)

In [83]:
data.rename(columns={'Your Current Domain': 'Atelier Recomender'}, inplace=True)

In [84]:
data = data.drop(columns = ["Major in Intermediate"],axis=1)
data.rename(columns={'Major Subjects in Matric': 'Main Domain'}, inplace=True)
data.rename(columns={'Matric Percentage': 'Main Domain Percentage'}, inplace=True)

In [85]:
new_order = ["Age","Main Domain","Main Domain Percentage","Favorite Subject","Area of Interest","Atelier Recomender"]
data = data[new_order]

In [86]:
data.head()

,Age,Main Domain,Main Domain Percentage,Favorite Subject,Area of Interest,Atelier Recomender
0,12,Biology,87.0,Biology,Bio Sciences,Bio Sciences
1,9,O Level,80.0,Finance / Accounting / Statistics,Business Administration,Business Administration
2,16,Biology,87.0,Physics,Bio Sciences,Bio Sciences
3,13,Computer,75.0,Computer Science,Software Engineering,Computer Science
4,10,Computer,83.0,Computer Science,Software Engineering,Software Engineering

In [88]:
data.to_csv('data.csv', index=False)

In [53]:
data["Atelier Recomender"].value_counts()

Atelier Recomender
Account and Finance        214
Bio Sciences               180
Computer Science           173
Software Engineering        92
English                     87
Psychology                  60
Business Administration     54
Mathematics                 49
Civil Engineering           40
Mechanical Engineering      36
Electrical Engineering      32
Name: count, dtype: int64

In [54]:
data.shape

(1017, 6)

In [55]:
data['Main Domain'] = data['Main Domain'].replace('O Level', 'Autre')

In [56]:
data["Main Domain"].value_counts()

Main Domain
Computer    532
Biology     326
Autre       104
Arts         55
Name: count, dtype: int64

In [57]:
# Utiliser inplace=True correctement
data['Main Domain'].replace({
    'Computer': 1,
    'Biology': 2,
    'Autre': 4,
    'Arts': 3
}, inplace=True)
# Vérifier les changements
print(data['Main Domain'].value_counts())

Main Domain
1    532
2    326
4    104
3     55
Name: count, dtype: int64

In [64]:
data["Favorite Subject"].value_counts()

Favorite Subject
Finance / Accounting / Statistics    247
Computer Science                     210
Biology                              166
English                              144
Mathematics                          106
Chemistry                             82
Physics                               62
Name: count, dtype: int64

In [66]:
# Utiliser inplace=True correctement
data['Favorite Subject'].replace({
    'Finance / Accounting / Statistics': 1,
    'Computer Science': 2,
    'Biology': 3,
    'English': 4,
    'Mathematics': 5,
    'Chemistry': 6,
    'Physics': 7
}, inplace=True)
# Vérifier les changements
print(data['Favorite Subject'].value_counts())

Favorite Subject
1    247
2    210
3    166
4    144
5    106
6     82
7     62
Name: count, dtype: int64

In [67]:
data["Area of Interest"].value_counts()

Area of Interest
Account and Finance        219
Computer Science           182
Bio Sciences               162
English                     91
Software Engineering        84
Psychology                  64
Mathematics                 61
Civil Engineering           44
Business Administration     43
Mechanical Engineering      38
Electrical Engineering      29
Name: count, dtype: int64

In [ ]:
# Utiliser inplace=True correctement
data['Area of Interest'].replace({
    'Account and Finance': 1,
    'Computer Science': 2,
    'Biology': 3,
    'English': 4,
    'Mathematics': 5,
    'Chemistry': 6,
    'Physics': 7
}, inplace=True)
# Vérifier les changements
print(data['Favorite Subject'].value_counts())

In [58]:
# Vérifier les valeurs uniques dans la colonne avant de faire des changements
print(data['Main Domain'].unique())

[2 4 1 3]

In [68]:
data["Area of Interest"].value_counts()
# Remplacer les valeurs textuelles par des valeurs numériques
data['Area of Interest'].replace({
    'Account and Finance': 1,
    'Computer Science': 2,
    'Bio Sciences': 3,
    'English': 4,
    'Software Engineering': 5,
    'Psychology': 6,
    'Mathematics': 7,
    'Civil Engineering': 8,
    'Business Administration': 9,
    'Mechanical Engineering': 10,
    'Electrical Engineering': 11
}, inplace=True)

# Vérifier les changements
print(data['Area of Interest'].value_counts())

Area of Interest
1     219
2     182
3     162
4      91
5      84
6      64
7      61
8      44
9      43
10     38
11     29
Name: count, dtype: int64

In [69]:
data.head()

,Age,Main Domain,Main Domain Percentage,Favorite Subject,Area of Interest,Atelier Recomender
0,12,2,87.0,3,3,Bio Sciences
1,9,4,80.0,1,9,Business Administration
2,16,2,87.0,7,3,Bio Sciences
3,13,1,75.0,2,5,Computer Science
4,10,1,83.0,2,5,Software Engineering

In [70]:
data['Atelier Recomender'].value_counts()

Atelier Recomender
Account and Finance        214
Bio Sciences               180
Computer Science           173
Software Engineering        92
English                     87
Psychology                  60
Business Administration     54
Mathematics                 49
Civil Engineering           40
Mechanical Engineering      36
Electrical Engineering      32
Name: count, dtype: int64

In [60]:
X = data.drop(("Atelier Recomender"), axis = 1)
Y = data["Atelier Recomender"]

In [61]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=2)

In [62]:
model = LogisticRegression(max_iter=1000)

In [63]:
model.fit(X_train, Y_train)

# Prédire et évaluer le modèle
predictions = model.predict(X_test)
print(f'Accuracy: {accuracy_score(Y_test, predictions)}')

ValueError: could not convert string to float: 'Biology'